;ÚÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄ¿
;³                  Configuration file for BBS                    ³
;³  			1 Feb '93 in Kragujevac,YU-Serbia                 ³
;³                    Igor Loncarevic, anubis                     ³
;³            anubis%hobbiton.yu@moumee.calstatela.edu            ³
;ÀÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÙ


; Name of BBS
BBSName=Sonic BBS

; BBS Start Logo
Logo=C:\BBS\TEXTS\LOGO.BBS

; Full file name of short and big DBF base for BBS Users
ShortBaseFile=C:\BBS\USERDAT\BBSBASE.DBF
BigBaseFile=C:\BBS\USERDAT\BIGBASE.DBF

; File for mail
MailBase=C:\BBS\MAIL\MAIL.DBF
MailMessages=C:\BBS\MAIL\MAIL.TXT
MailHelpFile=C:\BBS\HELP\MAIL.HLP
MailAttachDir=C:\BBS\MAIL\ATTACHED

; Editor in local and its file to edit and parse further
Editor=Q
LocalEditFile=C:\BBS\TEMP\LOCAL.$$$

; Path to directory structure and path to ArchiveView file
TreeFile=\TREE.TXT
ArcViewFile=C:\BBS\TEMP\AV.TXT
MemFile=C:\BBS\TEMP\MEM.TXT

; Where are help?
NormalHelpFile=C:\BBS\HELP\NORMAL.HLP
FileAdmHelpFile=C:\BBS\HELP\FILEADM.HLP
SysOpHelpFile=C:\BBS\HELP\SYSOP.HLP
CommandsHelpFile=C:\BBS\HELP\COMMANDS.BHF

; For pad
PadRootDir=C:\BBS\PADS\
PadHelpFile=C:\BBS\HELP\PAD.HLP

; autoexec
AutoExecDir=C:\BBS\USERDAT\AUTOEXEC\
AutoExecHelpFile=C:\BBS\HELP\AUTOEXEC.HLP

; resumes
ResumeDir=C:\BBS\USERDAT\RESUMES\
ResumeHelpFile=C:\BBS\HELP\RESUME.HLP

; Should I Write Log and where ?
Log=Yes
LogFile=C:\BBS\LOGFILE\LOGFILE.BBS

; Full path to ZIP & ARJ archiver
ZIPArchiver=C:\MISC\PKZIP.EXE
ARJArchiver=C:\MISC\ARJ.EXE a
LHAArchiver=C:\MISC\LHA.EXE a

; Definitions of rights
Guest=1
Normal=2
Benefit=4
FileAdm=8
SysOp=128

; Time for users
GuestTime=1
NormalTime=30
BenefitTime=45
FileAdmTime=60
SysOpTime=120

; Modem constants
; Zoltrix 14.4k AT S0=1 &C1&D2&K3M1L2X3E1&Q5&W0&Y0 S36=7 S95=3

ModemInitStr=AT S0=0 S7=255 X3 L2 M2 E1 &C1
ModemHangUp=~~~+++~~~ATH0

; On which port is modem installed, COM1=1,COM2=2 etc.
ComPort=2

; Communication parameters (ex.:10100011=163 -> 2400 8N1)
ComPars=163

; File which contains files descriptions
DescribeFile=DESCRIPT.ION
